/* 
    Created on : Dec 2, 2018, 6:32:23 PM
    Author     : Livia Boeriu
*/
.header {
    -fx-alignment:CENTER;
    -fx-content-display:center;
    -fx-background-color: #637081;
    -fx-padding: 10;
    -fx-font-size: 20;
}

.headerText {
    -fx-text-fill:white;
}

.mainView {
    -fx-background-color: grey;
}

.ingredientView {
    -fx-background-color: white;
    -fx-padding: 20; 
}

.recipeView {
    -fx-background-color: bisque;
    -fx-padding: 20;
}

.ingredientCard {
    -fx-padding: 10 20 10 20;
    -fx-border-width:1;
    -fx-border-style:solid;
    -fx-border-color:lightgray;
}

.categoryTitle {
    -fx-border-width: 0 0 1 0;
    -fx-border-style:solid;
    -fx-border-color:lightgray;
}

.categoryIngredients {
    -fx-vgap:4;
    -fx-hgap:6;
    -fx-padding: 10 0 0 0;
}

.ingredientName {
    -fx-padding:2 4 2 4;
    -fx-border-width:1;
    -fx-border-style:solid;
    -fx-border-color:black;
    -fx-alignment:CENTER;
}

.selected {
    -fx-background-color: bisque;
}

.recipeInfo {
    -fx-padding: 0 20 20 0;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.recipeWrapper {
    -fx-background-color:white;
    -fx-border-width:1;
    -fx-border-style:solid;
    -fx-border-color:lightgray;
    -fx-padding: 20;
}

.suggestion {
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-padding: 20 0 0 0;
}

.recipeDetails {
    -fx-font-size: 16;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scrollPane {
    -fx-background-color: transparent;
}

.customButtom {
    -fx-background-color: transparent;
}

